/* =======================================
   RESET
======================================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*{
    -webkit-tap-highlight-color: transparent;
}

/* =======================================
   ROOT
======================================= */
:root{

    /* ===== Warna ===== */
    --merah-utama: #BE1212;
    --merah-hover: #A51010;
    --merah-muda: #F5DADA;
    --putih: #F8F9FA;
    --PuGe: #FFFDFD;
    --hitam: #1E1E1E;
    --abu: #757575;
    --abu-muda: #E0E0E0;
    --biru-bg: #EAF5FC;
    --warna-hiragana: #F73546;
    --warna-katakana: #497BD4;
    --warna-kanji: #8E5BD2;
    --warna-kosakata: #FD8612;
    --warna-tata-bahasa: #1EA490;


    /* ===== Font ===== */
    --font: "Poppins", sans-serif;

    /* ===== Ukuran Font ===== */
    --fs-kecil: 12px;
    --fs-normal: 14px;
    --fs-subjudul: 16px;
    --fs-judul: 20px;
    --fs-simbol: 28px;
    /* ===== Jarak ===== */
    --space-xs: 0.375rem;
    --space-sm: 0.625rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;

    /* ===== Radius ===== */
    --radius-sm: 12px;
    --radius-md: 20px;
    --radius-lg: 28px;

    /* ===== Shadow ===== */
    --shadow: 0 5px 15px rgba(0,0,0,.15);

    /* ===== Animasi ===== */
    --transisi: .25s ease;
}

/* =======================================
   BODY
======================================= */
body{
    font-family: var(--font);
    color: var(--hitam);
    background: var(--putih);
    min-height:100vh;
}

/* =======================================
   SPLASH SCREEN
======================================= */
#splash-screen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ffffff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:9999;
}
.logo{
    width:120px;
    animation:zoom 1s ease;
}
.welcome{
    color:#555;
    opacity:0;
    animation:fade 1s forwards;
    animation-delay:.4s;

}
.judul{
    color: var(--merah-utama);
    opacity:0;
    animation:fade 1s forwards;
    animation-delay:.8s;
}
.tagline{
    color:#666;
    font-size:var(--fs-normal);
    opacity:0;
    animation:fade 1s forwards;
    animation-delay:1.2s;
}
@keyframes fade{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes zoom{
    from{
        transform:scale(.6);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

/* =======================================
   DASHBOARD
======================================= */
/* DASHBOARF */
#app{
    padding: 2px;
}
.dashboard{
    padding:5px;
    padding-bottom:100px;
    background: var(--putih);
    border-radius: 20px;
}
.dashboard h2{
    font-size: var(--fs-simbol);
    font-weight: bold;
    margin-left: 15px;
    padding: 3px 3px;
}
.judul-merah{
    color: var(--merah-utama);
}
/*  HEADER PERTAMA  */
.header-pertama{
    display:flex;
    justify-content: space-between;
}
/*  TOMBOL AKUN  */
.menu-lainnya {
    border: none;
    background: var(--abu-muda);
    margin-right: 15px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    transform: translateY(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
/* HEADER CARD */
.header-card{
    background-image: url("../aset/NihongoDecor/header.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--putih);
    padding:var(--space-sm);
    border-radius:20px 20px 0px 0px;
    box-shadow: var(--shadow);
    position: relative;
    overflow: visible;
    z-index: 1;
    padding-bottom: 20px;
    margin-bottom: -15px;
}
.header-card h1{
    margin-left: var(--space-md);

}
.header-card h3{
    margin-left: var(--space-md);
}
.header-card p{
    opacity:.9;
    font-size: var(--fs-normal);
    margin-left: var(--space-md);
    padding-bottom: 5px;
}
/*  DEKORASI */
.kucing {
    position: absolute;
    width: 120px;
    height: auto;
    right: 8px;
    top: -95px;
    z-index: 3;
}
/* BUNGKUS ISI HOME */
.bungkus-isi{
    background-color: var(--putih);
    border-radius: 20px;
    padding: 5px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
}
/* PROGRESS CARD */
.progress-card{
    background: var(--putih);
    padding:var(--space-sm);
    border-radius:20px;
    box-shadow: var(--shadow);
    z-index: 4;
    position: relative;

}
.progress-card:active {
    transform: scale(.98);

}
.judul-card{
    display:flex;
    align-items:center;
    margin-bottom: 5px;
}
.judul-card h3{
    margin-left: 8px;
}
.judul-card span{
    color:var(--merah-utama);
    font-size:var(--fs-simbol);
}
.persen-progress span{
    font-size: var(--fs-normal);
    font-weight: 600;
}
.persen-progress{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 3px 10px;
}
.progress {
    height: 10px;
    background: var(--abu-muda);
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    margin-top: 3px;
}
.progress-bar{
    width: 45%;
    height: 100%;
    background: var(--merah-utama);
}

/* TARGET CARD */
.target-card{
    background: var(--putih);
    padding:var(--space-sm);
    border-radius:20px;
    margin-top: var(--space-xs);
    box-shadow: var(--shadow);
    z-index: 4;
}
.target-card:active {
    transform: scale(.98);

}
.info-target{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 3px 10px;
}
.info-target span{
    font-size: var(--fs-normal);
    font-weight: 600;
}
.info-target span b{
    color: var(--merah-utama);
    font-size:var(--fs-normal);
}

/* LANJUTKAN CARD */
.lanjut-card{
    background: var(--putih);
    padding:var(--space-sm);
    border-radius:20px;
    margin-top: var(--space-xs);
    box-shadow: var(--shadow);
    z-index: 4;
}
.lanjut-isi{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.lanjut-isi h4{
    margin:0;
    font-size:var(--fs-normal);
}
.lanjut-isi p{
    color:#666;
}
.lanjut-isi small{
    color:#888;
}
.lanjut-isi span{
    color:var(--merah-utama);
    font-size: var(--fs-normal);
    font-weight: 700;
}

/* MENU GRID */
.menu-grid{
    margin-top:var(--radius-sm);
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:5px;
}
.menu-card{
    background:white;
    border:none;
    border-radius:20px;
    padding:25px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    cursor:pointer;
}
.menu-card span{
    font-size:40px;
}
.menu-card p{
    margin-top:10px;
    font-weight:600;
}
.menu-huruf-a{
    font-size:42px;
    font-weight:bold;
    color: var(--warna-hiragana);
}
.menu-huruf-b{
    font-size:42px;
    font-weight:bold;
    color: var(--warna-katakana)
}
.menu-huruf-c{
    font-size:42px;
    font-weight:bold;
    color: var(--warna-kanji);
}
#menu-huruf-d{ 
    font-size: 42px;
    font-weight: bold;
    color: var(--warna-kosakata)
}
/* HOVER/AKTIF */
.menu-card,
.lanjut-card{
    transition: .15s;
}
.menu-card:active,
.lanjut-card:active{
    transform: scale(.98);
    color: var(--merah-utama);
}
.menu-card:hover,
.lanjut-card:hover{
    color: var(--merah-hover);
    transform: scale(0.98);
}

/* =======================================
   NAVBAR
======================================= */
/* NAVBAR BAWAH */
.bottom-nav {
    position: fixed;
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: 70px;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,.12);
    z-index: 99;
}

.nav-item {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #9e9e9e;
    cursor: pointer;
    transition: .3s;
}

.nav-item .material-symbols-rounded {
    font-size: 26px;

    /* Ikon tidak aktif = outline */
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
}

.nav-item small {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 600;
}

/* NAVBAR AKTIF */
.nav-item.active {
    color: var(--merah-utama);
    transform: scale(1.10);
}

/* Ikon aktif = terisi */
.nav-item.active .material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
}

/* =======================================
   KOMPONEN UMUM
======================================= */
/* button, card, progress, popup, dll */
/* JUDUL HEADER */
.judul-header{
    background-image: url("../aset/NihongoDecor/header.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0px 65px 0;
    color: var(--putih);
    border-radius: 20px;
    box-shadow: var(--shadow);
    height: 60px;
    width: 100%;
}
.logo-halaman {
    color: var(--putih);
    font-size: 35px;
    padding-left: 18px;
}
.logo-halaman-kan {
    color: var(--putih);
    font-size: 28px;
    padding-left: 18px;
    font-weight: 700;
}
.judul-kiri{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 8px;
}
.ada-kmbali h2,
.judul-header h2,
.judul-header h3,
.judul-kiri h2{
    padding-left: 8px;
}
.judul-header.ada-kembali {
    justify-content: space-between;
}


/* TOMBOL KEMBALI */
.tombol-kembali{
    background:var(--merah-utama);
    color:white;
    border: none;
    border-radius:10px;
    padding:3px 18px;
    cursor:pointer;
    margin-right: 12px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}
.tombol-kembali:hover{
    background:var(--merah-hover);
    transform:scale(0.98);
}
/* =======================================
    POPUP 
======================================= */
/* TOMBOL INFO */
.btn-info{
    width:25px;
    height:25px;
    border:none;
    border-radius:50%;
    background:var(--merah-utama);
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    font-family:Arial,sans-serif;
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
    flex-shrink:0;
}
.btn-info:hover{
    background:var(--merah-hover);
    transform:scale(0.98);
}
/* TUTUP POPUP */
.close{
    position:absolute;
    top:20px;
    right:20px;
    font-size:24px;
    font-weight:bold;
    line-height:1;
    cursor:pointer;
    transition:.2s;
}
.close:hover{
    color:var(--merah-hover);
    transform:scale(1.15);
}
.close:active{
    transform:scale(.9);
    color:var(--merah-utama);
}

/* POPUP INFO */
.popup{ 
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    justify-content:center;
    align-items:center;
    z-index:1000;
}
.popup-content{
    background: #fff;
    width: min(90vw, 420px);
    max-height: 85vh;
    padding: 24px;
    border-radius: 20px;
    overflow-y: auto;
    text-align: center;
    position: relative;
    animation: muncul .25s ease;
}
.popup-content h2{
    font-size: var(--fs-subjudul);
    margin:0 40px 20px 0;
}
#huruf{
    font-size: clamp(56px, 12vw, 80px);
}
.popup-content p,
.popup-content li{
    font-size: clamp(16px, 4vw, 20px);
    line-height: 1.6;
}

/*  POPUP INFO LEVEL */
.popup-level {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 9999;
}
.popup-level-content {
    position: relative;
    width: 100%;
    max-width: 430px;
    max-height: 85vh;
    overflow-y: auto;
    background: var(--putih);
    border-radius: 20px;
    padding: 24px 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    animation: popupLevelMasuk .2s ease;
}
@keyframes popupLevelMasuk {
    from {
        opacity: 0;
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.popup-level-close {
    position: absolute;
    top: 12px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 28px;
    color: var(--abu);
    cursor: pointer;
}
.popup-level-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    border-radius: 50%;
    background: #f5f1f1;
    font-size: 25px;
}
.popup-level-content h2 {
    text-align: center;
    margin: 12px 0 16px;
    font-weight: bold;
    font-size: var(--fs-subjudul);
}
.info-jumlah-soal {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    margin: 8px auto 14px;
    padding: 7px 13px;
    background: #f5f1f1;
    border-radius: 20px;
    color: var(--merah-utama);
    font-size: var(--fs-kecil);
}
.info-latihan {
    margin-bottom: 12px;
    padding: 14px 16px;
    background: #f5f1f1;
    border-radius: 18px;
}
.info-latihan h3 {
    margin: 0 0 8px;
    font-size: 14px;
}
.info-latihan p {
    margin: 5px 0;
    color: var(--abu);
    font-size: var(--fs-kecil);
    line-height: 1.5;
}
.materi-level p {
    margin: 4px 0;
}
.tombol-mulai {
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 13px;
    background: var(--merah-utama);
    color: var(--putih);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.tombol-mulai:active {
    transform: scale(.98);
}

/*   POPUP HASIL LATIHAN */
.popup-hasil-latihan {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 9999;
}
.popup-hasil-latihan.aktif {
    display: flex;
}
.popup-hasil-content {
    width: 100%;
    max-width: 420px;
    background: white;
    border-radius: 28px;
    padding: 30px 25px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    animation: munculPopup 0.25s ease;
}
@keyframes munculPopup {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.popup-hasil-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCE8E8;
    border-radius: 50%;
    font-size: 36px;
}
.popup-hasil-content h2 {
    margin: 5px 0 8px;
    font-size: 25px;
}
.popup-hasil-pesan {
    color: #757575;
    margin: 0 0 20px;
}
.skor-hasil {
    background: #f7f7f7;
    border-radius: 18px;
    padding: 15px;
    margin-bottom: 15px;
}
.skor-hasil span {
    display: block;
    color: #757575;
    font-size: 14px;
}
.skor-hasil strong {
    display: block;
    margin-top: 3px;
    font-size: 38px;
}
.hasil-statistik {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.statistik {
    flex: 1;
    padding: 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.statistik span {
    font-size: 25px;
    font-weight: bold;
}
.statistik strong,
.statistik small {
    display: block;
    text-align: left;
}
.statistik strong {
    font-size: 19px;
}
.statistik small {
    color: #757575;
}
.benar {
    background: #E8F5E9;
}
.salah {
    background: #FCE8E8;
}
.tombol-hasil-container {
    display: flex;
    gap: 10px;
}
.tombol-latihan-lagi,
.tombol-kembali-hasil {
    flex: 1;
    padding: 15px 8px;
    border: none;
    border-radius: 17px;
    font-size: 15px;
    font-weight: 600;
}
.tombol-latihan-lagi {
    background: #4CAF50;
    color: white;
}
.tombol-kembali-hasil {
    background: var(--merah-utama);
    color: white;
}
.tombol-latihan-lagi:active,
.tombol-kembali-hasil:active{
    transform: scale(0.98)
}

/*  POPUP INFO LATIHAN CARD */
.popup-info-soal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 9999;
}
.popup-info-soal.aktif {
    display: flex;
}
.popup-info-content {
    position: relative;
    width: 100%;
    max-width: 420px;
    background: white;
    border-radius: 28px;
    padding: 30px 25px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    animation: munculInfo 0.25s ease;
}
@keyframes munculInfo {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.tutup-info {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-icon {
    width: 65px;
    height: 65px;
    margin: 5px auto 15px;
    border-radius: 50%;
    background: #f5f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-icon .material-symbols-rounded {
    font-size: 32px;
}
.popup-info-content h2 {
    text-align: center;
    margin: 5px 0 10px;
    font-size: 25px;
}

.popup-info-content > p {
    text-align: center;
    color: #757575;
    line-height: 1.5;
    margin-bottom: 25px;
}
.info-langkah {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 25px;
}
.info-langkah > div {
    display: flex;
    align-items: center;
    gap: 12px;
}
.info-langkah span {
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #f5f1f1;
    color: #BE1212;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.info-langkah p {
    margin: 0;
    color: #555;
    font-size: 14px;
    line-height: 1.4;
}
.tombol-mengerti {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 18px;
    background: #BE1212;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

/* POPUP PERINGATAN KELUAR LATIHAN */
.popup-keluar-latihan {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 9999;
}
.popup-keluar-latihan.aktif {
    display: flex;
}
.popup-keluar-content {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 28px;
    padding: 30px 25px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    animation: munculPopup 0.25s ease;
}
.peringatan-icon {
    width: 65px;
    height: 65px;
    margin: 0 auto 15px;
    border-radius: 50%;
    background: #FFF3CD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.peringatan-icon .material-symbols-rounded {
    font-size: 32px;
}
.popup-keluar-content h2 {
    margin: 5px 0 10px;
    font-size: 24px;
}
.popup-keluar-content p {
    color: #757575;
    line-height: 1.5;
    margin-bottom: 25px;
}
.tombol-keluar-container {
    display: flex;
    gap: 10px;
}
.tombol-tetap-latihan,
.tombol-keluar {
    flex: 1;
    padding: 15px 8px;
    border: none;
    border-radius: 17px;
    font-size: 15px;
    font-weight: 600;
}
.tombol-tetap-latihan {
    background: #4CAF50;
    color: white;
}
.tombol-keluar {
    background: #BE1212;
    color: white;
}
.tombol-tetap-latihan:active,
.tombol-keluar:active {
    transform: scale(0.98);
}
/* Detail hasil latihan */
.detail-jawaban-list {
    max-height: 45vh;
    overflow-y: auto;
    margin: 15px 0;
    padding-right: 5px;
}
.detail-jawaban {
    display: flex;
    gap: 12px;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 12px;
}
.detail-nomor {
    min-width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
}
.detail-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.detail-huruf {
    font-size: 20px;
}
.detail-status {
    font-size: 13px;
}
.detail-benar {
    background: #e8f7ed;
}
.detail-salah {
    background: #fdeaea;
}
.detail-jawaban-list {
    max-height: 45vh;
    overflow-y: auto;
}
/*Tombol detail hasil*/
.tombol-detail-hasil {
    width: 100%;
    padding: 11px 16px;
    margin: 12px 0;
    background: white;
    color: var(--merah-utama);
    border: 2px solid var(--merah-utama);
    border-radius: 10px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.tombol-detail-hasil:active {
    transform: scale(0.98);
}
/* Popup Fitur Baru */
#popup-pet {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#popup-pet .popup-box {
    width: 85%;
    max-width: 350px;
    background: var(--putih);
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    position: relative;
}
#popup-pet button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: var(--merah-utama);
    color: var(--putih);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#popup-pet button:hover {
    background: var(--merah-hover);
}
#popup-pet .material-symbols-rounded:first-child {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}



/*=====================================
            ANIMASI
=====================================*/
@keyframes muncul{
    from{
        opacity:0;
        transform:scale(.8);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
@keyframes slideMasukKanan{
    from{
        opacity:0;
        transform:translateX(40px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}
@keyframes slideMasukKiri{
    from{
        opacity:0;
        transform:translateX(-40px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}
.slide-kanan{
    animation:slideMasukKanan .25s ease;
}
.slide-kiri{
    animation:slideMasukKiri .25s ease;
}


























